.page1{
 box-sizing: border-box;
 width: 98%;
 padding: 250px;
 margin: 20px auto;
 background-image: url("../assets/page1.jpg");
 background-size: contain;
}

.page1-title{
  -webkit-text-fill-color: whitesmoke;
  font-size: 70px;
  font-style: oblique;
  font-weight: 500;
  text-shadow: 2px 2px black;

  text-align: center;
  margin-top: -30px;
  
}
.page1-concept{
  -webkit-text-fill-color: whitesmoke;
  text-align: center;
  background-color: black;
  padding: 20px 40px;
  border-radius: 15px;
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  
  margin: 0 auto;

  margin-top: -40px;
} 

.page2{
  box-sizing: border-box;
  width: 98%;
  height: 650px;
  margin: 20px auto;
  border: 10px double black;
  display: flex;
  justify-content: space-between;
}

.note{
  width: 400px;
  height: 500px;
  background-image: url("../assets/page2_note.jpg");
  background-size: cover;
  margin: 50px 50px;
  text-align: center;
  align-content: center;
  font-size: large;
  font-style: italic;
  font-weight: 10px;
}